# Project specifics
/es2019

# JS
node_modules
*.tgz

# You should use Yarn on this project
package-lock.json

# Yarn 2
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Storybook
/storybook-static
